{% extends 'base.html.twig' %}

{% block title %}Your assets{% endblock %}
{% block body %}
<div class="assets-wrapper">
    <div class="container-fluid">
        <a class='btn' href="{{ path('new_asset')}}">Create new Asset</a>
    </div>
    
    <div class="assets container-fluid">
        {% for row in assets |batch(6) %}
            <div class="row">
                {% for asset in row %}

                    <div class="col-lg-2 col-sm-4">
                        <div class="asset">
                            <a target='_blank' href="{{ asset('attachments/' ~ asset.path) }}">
                                {% set type = asset.path| split('.')[1] %}
                                {% if type == 'xlsx' %}
                                    <i class="far fa-file-excel"></i>
                                {% elseif type == 'pdf' %}
                                    <i class="far fa-file-pdf"></i>
                                {% elseif type == 'png' or type == 'jpg' or type == 'jpeg' %}
                                    <i class="far fa-file-image"></i>
                                {% elseif type == 'html' or type == 'css' or type == 'js' %}
                                    <i class="far fa-file-code"></i>
                                {% else %}
                                    <i class="fas fa-file"></i>
                                {% endif %}
                            </a>
                            <span class='name'>Name: {{asset.name}}</span>
                            <span class='view'><a target='_blank' href="{{ asset('attachments/' ~ asset.path) }}">View attachment</a></span>
                            <span class='download'><a href="{{ path('download_asset', { 'id': asset.id }) }}">Download attachment</a></span>
                            <span class='delete'><a href="{{ path('delete_asset', { 'id': asset.id }) }}">Delete attachment</a></span>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
</div>
{% endblock %}
