<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
        
    </head>
    <body>
        {% block menu %}
            <aside>
                <ul>
                    <li>
                        <a href="{{ path('assets')}}">Assets</a>
                        {% if is_granted('ROLE_USER') %}
                            <a href="{{ path('user')}}">My Account</a>
                        {% else %}
                            <a href="{{ path('app_login')}}">Log In</a>
                        {% endif %} 
                    </li>
                </ul>
            </aside>
        {% endblock %}
        {% block body %}{% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
