<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap" rel="stylesheet"> 
        {% endblock %}
        
    </head>
    <body class='{% block classes %}{% endblock %}'>
        {% block menu %}
            <aside class='main-menu'>
                <ul>
                    <li><a href="{{ path('assets')}}">Assets</a></li>
                    {% if is_granted('ROLE_USER') %}
                        <li><a href="{{ path('user')}}">My Account</a></li>
                    {% else %}
                        <li><a href="{{ path('app_login')}}">Log In</a></li>
                    {% endif %} 
                </ul>
            </aside>
        {% endblock %}
        {% block body %}{% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
